---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  name: data-service
  {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: data-service-{{ .DRONE_SOURCE_BRANCH }}
  {{ else }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: data-service
  {{ end }}
spec:
  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  replicas: 1
  {{ else }}
  replicas: 2
  {{ end }}
  selector:
    matchLabels:
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      name: data-service-{{ .DRONE_SOURCE_BRANCH }}
      service: data-service-{{ .DRONE_SOURCE_BRANCH }}
      {{ else }}
      name: data-service
      service: data-service
      {{ end }}
  template:
    metadata:
      labels:
        {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
        name: data-service-{{ .DRONE_SOURCE_BRANCH }}
        service: data-service-{{ .DRONE_SOURCE_BRANCH }}
        {{ else }}
        name: data-service
        service: data-service
        {{ end }}
        build: "{{.DRONE_BUILD_NUMBER}}"
        commit: "{{.DRONE_COMMIT_SHA}}"
    spec:
      containers:
        - name: alert-service
          image: quay.io/ukhomeofficedigital/save-return-email-alerts:ca8d0849a3bdc1bbbf4b61610f397865a2023f84
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: configmap
                {{ end }}
          env:
            - name: TZ
              value: Europe/London
            - name: NOTIFY_KEY
              valueFrom:
                secretKeyRef:
                  key: notify-key
                  name: notify-key
            {{ if or (eq .KUBE_NAMESPACE .STG_ENV) (eq .KUBE_NAMESPACE .PROD_ENV) }}
            - name: DB_USER
              value: reports
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: endpoint
                  name: audit-database
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  key: default_db
                  name: audit-database
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: reports
                  name: users
            {{ else }}
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: endpoint
                  name: ms-dev-rds
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  key: default_db
                  name: ms-dev-rds
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: ms-dev-rds
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: ms-dev-rds
            {{ end }}
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
            limits:
              memory: 256Mi
              cpu: 300m
          securityContext:
            runAsNonRoot: true

        - name: data-service
          image: quay.io/ukhomeofficedigital/save-return-api:513ba80d0eaf50377f68b3f530f01c9f865091fc
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: configmap
                {{ end }}
          env:
            {{ if or (eq .KUBE_NAMESPACE .UAT_ENV) (eq .KUBE_NAMESPACE .BRANCH_ENV) }}
            - name: APP_ID
              valueFrom:
                secretKeyRef:
                  key: username
                  name: data-service
            - name: APP_API_KEY
              valueFrom:
                secretKeyRef:
                  key: password
                  name: data-service
            - name: PG_PORT
              valueFrom:
                secretKeyRef:
                  key: port
                  name: ms-dev-rds
            {{ end }}
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: endpoint
                  name: audit-database
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  key: default_db
                  name: audit-database
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: audit-database
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: audit-database
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
            limits:
              memory: 256Mi
              cpu: 300m
          securityContext:
            runAsNonRoot: true

        - name: nginx-proxy
          image: quay.io/ukhomeofficedigital/nginx-proxy:v.4.4.7@sha256:0c58dabb1df4b4ad4bf1c6ed4ee1e81e440384e0ea41399c568aeb79e627b8ac
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
            limits:
              cpu: 250m
              memory: 256Mi
          env:
{{ file .NGINX_SETTINGS | indent 12 }}
            - name: PROXY_SERVICE_PORT
              value: "3000"
          ports:
            - containerPort: 10080
              protocol: TCP
            - containerPort: 10443
              protocol: TCP
          volumeMounts:
            - mountPath: /public
              name: public
          securityContext:
            runAsNonRoot: true
      volumes:
        - name: public
          emptyDir: {}
