{
  "extends": "homeoffice/config/default",
  "rules": {
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "implicit-dependencies/no-implicit": [
      "error",
      { "peer": true, "dev": true, "optional": true }
    ],
    "no-process-env": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions":{
    "ecmaVersion": 2017
  }
}
