public
apps/*/translations/*
!apps/*/translations/src
node_modules/
.env
.vscode/*
.idea/vcs.xml
.idea/workspace.xml
dump.rdb
.scannerwork/
.nyc_output/
.idea
.DS_Store
coverage
anchore-reports/
acceptance-test/temp-downloads/
