{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "lines": 80,
  "coverageThreshold": {
    "*/**": {
      "statements": 87,
      "branches": 75,
      "functions": 82,
      "lines": 88,
      "exclude": [
        "test/**/*.js",
        "apps/**/sections/**/*.js",
        "apps/**/fields/**/*.js"
      ]
    }
  }
}
