---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  name: lookup
  {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: lookup-{{ .DRONE_SOURCE_BRANCH }}
  {{ else }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  name: lookup
  {{ end }}
spec:
  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  replicas: 1
  {{ else }}
  replicas: 2
  {{ end }}
  selector:
    matchLabels:
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      name: lookup-{{ .DRONE_SOURCE_BRANCH }}
      service: lookup-{{ .DRONE_SOURCE_BRANCH }}
      {{ else }}
      name: lookup
      service: lookup
      {{ end }}
  template:
    metadata:
      labels:
        {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
        name: lookup-{{ .DRONE_SOURCE_BRANCH }}
        service: lookup-{{ .DRONE_SOURCE_BRANCH }}
        {{ else }}
        name: lookup
        service: lookup
        {{ end }}
        build: "{{.DRONE_BUILD_NUMBER}}"
        commit: "{{.DRONE_COMMIT_SHA}}"
    spec:
      containers:
        - name: lookup
          # release v2.1.1
          image: quay.io/ukhomeofficedigital/save-return-lookup-ui:821e8fd0ff20278018fbf9503101edca8aee2a92
          imagePullPolicy: Always
          resources:
            requests:
              memory: 30Mi
              cpu: 30m
            limits:
              memory: 512Mi
              cpu: 600m
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: configmap
                {{ end }}
          env:
            - name: TZ
              value: Europe/London
            - name: LISTEN_HOST
              value: 127.0.0.1
            - name: REDIS_PORT
              value: "6379"
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
            - name: REDIS_HOST
              {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: redis-{{ .DRONE_SOURCE_BRANCH }}
              {{ else }}
              value: redis
              {{ end }}
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: audit-database
                  key: endpoint
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: audit-database
                  key: default_db
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: audit-database
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: audit-database
                  key: password
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: session-secret
                  key: session-secret
          volumeMounts:
            - mountPath: /public
              name: public
          securityContext:
            runAsNonRoot: true

        - name: nginx-proxy
          # nginx-proxy-govuk:v4.1.4
          image: quay.io/ukhomeofficedigital/nginx-proxy:v.4.4.7@sha256:0c58dabb1df4b4ad4bf1c6ed4ee1e81e440384e0ea41399c568aeb79e627b8ac
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
            limits:
              memory: 256Mi
              cpu: 300m
          env:
{{ file .NGINX_SETTINGS | indent 12 }}
            - name: PROXY_SERVICE_PORT
              value: "8080"
            - name: HTTPS_LISTEN_PORT
              value: "10444"
            - name: STATSD_METRICS
              value: "FALSE"
          volumeMounts:
            - mountPath: /public
              name: public
          securityContext:
            runAsNonRoot: true

        - name: keycloak-proxy
          image: quay.io/ukhomeofficedigital/gogatekeeper:3.5.0
          resources:
            limits:
              memory: "256Mi"
              cpu: 200m
          env:
            - name: PROXY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: keycloak-lookup-secret
                  key: keycloak-lookup-secret
            - name: PROXY_LISTEN
              value: 127.0.0.1:10043
            # the endpoint where requests are proxied to
            - name: PROXY_UPSTREAM_URL
              value: "http://127.0.0.1:10444"
            - name: PROXY_REDIRECTION_URL
              {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://lookup.modernslavery.homeoffice.gov.uk/
              {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://preprod-lookup.ms-notprod.homeoffice.gov.uk/
              {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://uat-lookup.ms-notprod.homeoffice.gov.uk/
              {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://lookup-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk/
              {{ end }}
          args:
            # specififes which client is used
            - --client-id=lookup
            # the url which is used to retrieve the OpenID configuration
            {{ if or (eq .KUBE_NAMESPACE .BRANCH_ENV) (eq .KUBE_NAMESPACE .UAT_ENV) }}
            - --discovery-url=https://acp-sso.notprod.acp.homeoffice.gov.uk/realms/ms-notprod
            {{ else }}
            - --discovery-url=https://acp-sso.prod.acp.homeoffice.gov.uk/realms/ms-prod
            {{ end }}
            # URls that you wish to protect.
            - --resources=uri=/file|methods=GET,POST|roles=caseworkers
            - --resources=uri=/*
            - --enable-default-deny=false
            - --enable-security-filter=true
            - --enable-request-id=true
            - --enable-logging=true
            - --enable-json-logging=true
            - --enable-encrypted-token=false
          {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            - --verbose=true
          {{ end }}
          ports:
            - containerPort: 10080
              protocol: TCP
            - containerPort: 10443
              protocol: TCP
          securityContext:
            runAsNonRoot: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /certs
              name: certs
            - mountPath: /etc/ssl/certs
              name: bundle
              readOnly: true
      volumes:
        - name: public
          emptyDir: {}
        - name: certs
          secret:
            {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            secretName: branch-tls-external
            {{ else }}
            secretName: lookup-cert-cmio
            {{ end }}
        - name: bundle
          configMap:
            name: bundle
