{{<partials-page}}
{{$back}}<a class="link-back" href="/nrm/reports">{{#t}}buttons.back-to-reports{{/t}}</a><br>{{/back}}
{{$page-content}}
<div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{#isDtn}}
          {{#t}}pages.confirmation.dtn-message{{/t}}
        {{/isDtn}}
        {{#isNrm}}
          {{#t}}pages.confirmation.nrm-message{{/t}}
        {{/isNrm}}
      </h1>
    </div>

    <p class="govuk-body">
      {{#t}}pages.confirmation.paragraph-1{{/t}}
    </p>

    <h2 class="govuk-heading-m">
      {{#t}}pages.confirmation.heading-1{{/t}}
    </h2>
    {{#isNrm}}
    <p class="govuk-body">
      {{#t}}pages.confirmation.heading-1-paragraph-1{{/t}}
    </p>
    <p class="govuk-body">
      {{#t}}pages.confirmation.heading-1-paragraph-2{{/t}}
    </p>
    {{/isNrm}}

    {{#isDtn}}
    <p class="govuk-body">
      {{#t}}pages.confirmation.heading-1-paragraph-1-dtn{{/t}}
    </p>
    {{/isDtn}}

    {{#isNrm}}
    <h2 class="govuk-heading-m">
      {{#t}}pages.confirmation.heading-2{{/t}}
    </h2>
    <p class="govuk-body">
      {{#t}}pages.confirmation.heading-2-paragraph-1{{/t}}
    </p>
    <p class="govuk-body">
      <a href="/support-organisations">
        {{#t}}pages.confirmation.heading-2-link-1{{/t}}
      </a>
    </p>
    {{/isNrm}}

    <h2 class="govuk-heading-m">
      {{#t}}pages.confirmation.heading-3{{/t}}
    </h2>
    <p class="govuk-body">
      <a href="mailto:{{#t}}pages.confirmation.email{{/t}}">{{#t}}pages.confirmation.email{{/t}}</a>
    </p>
    <p class="govuk-body">
      {{#t}}pages.confirmation.heading-3-paragraph-2{{/t}}
    </p>

    <p>
      {{#t}}pages.confirmation.heading-3-paragraph-3{{/t}} <a href="https://www.gov.uk/government/publications/human-trafficking-victims-referral-and-assessment-forms/guidance-on-the-national-referral-mechanism-for-potential-adult-victims-of-modern-slavery-england-and-wales">
        {{#t}}pages.confirmation.heading-3-paragraph-3-link-1{{/t}}
      </a>
    </p>
    <p>
      <a href="/feedback">
        {{#t}}pages.confirmation.heading-3-paragraph-4-link-1{{/t}}
      </a>  {{#t}}pages.confirmation.heading-3-paragraph-4{{/t}}
    </p>
    <p>
      <a href="/start">
        {{#t}}pages.confirmation.heading-3-paragraph-5-link-1{{/t}}
      </a>
    </p>
</div>
{{/page-content}}
{{/partials-page}}
