{{<partials-page}}
  {{$page-content}}
    <p class="govuk-body">{{#t}}pages.details-last-contact.paragraph-1{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.details-last-contact.paragraph-2{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.details-last-contact.paragraph-3{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.details-last-contact.bullet-1{{/t}}</li>
      <li>{{#t}}pages.details-last-contact.bullet-2{{/t}}</li>
      <li>{{#t}}pages.details-last-contact.bullet-3{{/t}}</li>
      <li>{{#t}}pages.details-last-contact.bullet-4{{/t}}</li>
    </ul>
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
