<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NRM for Report ID: {{reportID}}</title>
  <link href="{{hostUrl}}/public/css/pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <main id="content" role="main" class="evw container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="pad-bottom-40"><span class="organisation-logo organisation-logo-stacked-ho organisation-logo-stacked-ho-large"></span></h1>
        </div>
        <div class="col-sm-6">
          <h2 class="text-right pad-top-10">NRM Report ID: {{reportId}}</h2>
          <h3 class="text-right font-small">Date submitted (GMT): {{date}}</h3>
        </div>
      </div>
    </div>
    
    <hr/>
        
    <div class= "row">
      <h2>Section 1 - Your details</h2>
    </div>
    <hr/>
    <hr/>

    <div class="row bgrey">
      <h3 class="bold">Your details</h3>
      <div class="col-sm-2 bold pad-left-10">
        First Name
      </div>
      <div class="col-sm-10">
        {{{values.fr-details-first-name}}}
        {{^values.fr-details-first-name}} 
          No information
        {{/values.fr-details-first-name}} 
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Last name
      </div>
      <div class="col-sm-10">
        {{{values.fr-details-last-name}}}
        {{^values.fr-details-last-name}}
          No information
        {{/values.fr-details-last-name}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Phone
      </div>
      <div class="col-sm-10">
        {{{values.fr-details-phone}}}
        {{^values.fr-details-phone}}
          No information
        {{/values.fr-details-phone}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Email
      </div>
      <div class="col-sm-10 pad-left-10 wrap">
        {{{values.user-email}}}
        {{^values.user-email}}
          No information
        {{/values.user-email}}
      </div>
    </div>

    <div class="row bgrey">
      <h3 class="bold">Who do you work for</h3>
      <div class="col-sm-2 bold">
        Organisation
      </div>
      <div class="col-sm-4">
        {{{values.user-organisation}}}
        {{^values.user-organisation}}
          No information
        {{/values.user-organisation}}
      </div>
      <div class="col-sm-1 bold">
        Role
      </div>
      <div class="col-sm-5">
        {{{values.fr-details-role}}}
        {{^values.fr-details-role}}
        No information
        {{/values.fr-details-role}}
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Who should we contact in your absence</h3>
      <div class="col-sm-2 bold">
        Email
      </div>
      <div class="col-sm-10 wrap">
        {{{values.fr-alternative-contact}}}
        {{^values.fr-alternative-contact}}
          No information
        {{/values.fr-alternative-contact}}
      </div>
    </div>

    <div class= "row bgrey pad-bottom-40">
      <h3 class="bold">Where are you making this report?</h3>
      <div class="col-sm-6">
        {{{reportLocation}}}
      </div>
    </div>

    <hr/>
    <div class= "row">
      <h2>Section 2 - Exploitation</h2>
    </div>
    <hr/>

    <div class="row bgrey">
      <h3 class="bold">Age confirmation</h3>
      <div class="col-sm-3 bold">
        Is the PV under 18?
      </div>
      <div class="col-sm-3">
        {{{isUnderAge}}}
      </div>
      {{#underAgeWhenExploited}}
      <div class="col-sm-4 bold">
        Under 18 (during exploitation)?
      </div>
      <div class="col-sm-2">
        {{{underAgeWhenExploited}}}
      </div>
      {{/underAgeWhenExploited}}
    </div>

    {{#isChild}}
      <div class="row bgrey">
        <h3 class="bold">Local Authority contacted for child</h3>
        <div class="col-sm-3 bold">
          Local Authority
        </div>
        <div class="col-sm-9">
          {{{values.local-authority-contacted-about-child-local-authority-name}}}
        </div>
      </div>

      <div class="row bgrey">
        <div class="col-sm-3 bold pad-left-10">
          Phone Number
        </div>
        <div class="col-sm-9">
          {{{values.local-authority-contacted-about-child-local-authority-phone}}}
        </div>
      </div>

      <div class="row bgrey">
        <div class="col-sm-3 bold pad-left-10">
          Email
        </div>
        <div class="col-sm-9 wrap">
          {{{values.local-authority-contacted-about-child-local-authority-email}}}
        </div>
      </div>

      <div class="row bgrey">
        <div class="col-sm-3 bold pad-left-10">
          First name
        </div>
        <div class="col-sm-9">
          {{{values.local-authority-contacted-about-child-local-authority-first-name}}}
          {{^values.local-authority-contacted-about-child-local-authority-first-name}}
          No information
          {{/values.local-authority-contacted-about-child-local-authority-first-name}}
        </div>
      </div>

      <div class="row bgrey">
        <div class="col-sm-3 bold pad-left-10">
          Last name
        </div>
        <div class="col-sm-9">
          {{{values.local-authority-contacted-about-child-local-authority-last-name}}}
          {{^values.local-authority-contacted-about-child-local-authority-last-name}}
          No information
          {{/values.local-authority-contacted-about-child-local-authority-last-name}}
        </div>
      </div>
    {{/isChild}}


    <div class= "row bgrey">
      <h3>Victim's account</h3>
      <div class="col-sm-12">
        {{{values.what-happened}}}
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Exploitation location</h3>
      
    {{^exploitationUk}}
      <div class="col-sm-2 bold pad-left-10">
        Overseas
      </div>
      <div class="col-sm-10">
        {{{values.where-exploitation-happened-overseas-country}}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Address
      </div>
      <div class="col-sm-10">
        {{{values.where-exploitation-happened-other-overseas-other-location}}}
        {{^values.where-exploitation-happened-other-overseas-other-location}}
        No information
        {{/values.where-exploitation-happened-other-overseas-other-location}}
      </div>
    </div>
    {{/exploitationUk}}

    {{#exploitationUk}}

      <div class="col-sm-3 bold">
        Country
      </div>
      <div class="col-sm-9">
        UK
      </div>
    </div>
    
    {{#values.where-exploitation-happened-uk-city}}
    <div class="row bgrey">  
      <div class="col-sm-3 bold pad-left-10">
        City
      </div>
      <div class="col-sm-9">
        {{{values.where-exploitation-happened-uk-city}}}
      </div>
    </div>
    {{/values.where-exploitation-happened-uk-city}}

    {{#values.where-exploitation-happened-uk-region}}
    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Region
      </div>
      <div class="col-sm-9">
        {{{values.where-exploitation-happened-uk-region}}}
      </div>
    </div>
    {{/values.where-exploitation-happened-uk-region}}

    {{#values.where-exploitation-happened-other-uk-other-location}}
    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Address or Location
      </div>
      <div class="col-sm-9">
        {{{values.where-exploitation-happened-other-uk-other-location}}}
      </div>
    </div>
    {{/values.where-exploitation-happened-other-uk-other-location}}
    
    {{/exploitationUk}}

    <div class= "row bgrey">
      <h3 class="bold">Where are they now?</h3>
      <div class="col-sm-3 bold">
        City
      </div>
      <div class="col-sm-9">
        {{{values.current-pv-location-uk-city}}}
      </div>
    </div>

    <div class= "row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Region
      </div>
      <div class="col-sm-9">
        {{{values.current-pv-location-uk-region}}}
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Exploiter</h3>
      <div class="col-sm-12">
         {{{values.who-exploited-pv}}}
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">How were they exploited?</h3>
    </div>

    {{#labourExploit}}
    <div class= "row bgrey ">
      <div class="col-sm-12 pad-left-10">
        <div class="bold">
        Labour & Financial
        </div>
        <ul>
        {{#values.types-of-exploitation-forced-to-work}}
          <li>Forced to work for nothing or almost nothing</li>
        {{/values.types-of-exploitation-forced-to-work}}
        {{#values.types-of-exploitation-wages-taken}}
          <li>Wages taken by force or coercion, such as through control of a bank account</li>
        {{/values.types-of-exploitation-wages-taken}}
        {{#values.types-of-exploitation-forced-to-commit-fraud}}
          <li>Forced to commit fraud, such as using their identity to claim benefits</li>
        {{/values.types-of-exploitation-forced-to-commit-fraud}}
        </ul>
      </div>
    </div>
    {{/labourExploit}}

    {{#sexualExploit}}
    <div class= "row bgrey">
      <div class="col-sm-12 pad-left-10">
        <div class="bold">
        Sexual exploitation
        </div>
        <ul>
        {{#values.types-of-exploitation-prostitution}}
          <li>Forced into prostitution</li>
        {{/values.types-of-exploitation-prostitution}}
        {{#values.types-of-exploitation-child-exploitation}} 
          <li>Child sexual exploitation</li>
        {{/values.types-of-exploitation-child-exploitation}} 
        {{#values.types-of-exploitation-taken-somewhere}}
          <li>Taken somewhere, held against their will and sexually assaulted</li>
        {{/values.types-of-exploitation-taken-somewhere}}
        </ul>
      </div>
    </div>
    {{/sexualExploit}}

    {{#criminalExploit}}
    <div class= "row bgrey">
      <div class="col-sm-12 pad-left-10">
        <div class="bold">
          Criminal exploitation
        </div>
        <ul>
          {{#values.types-of-exploitation-forced-to-commit-crime}}
            <li>Forced to commit a crime, such as growing cannabis, drug dealing or begging</li>
          {{/values.types-of-exploitation-forced-to-commit-crime}}
          {{#values.types-of-exploitation-organs-removed}}
            <li>Organs, such as kidneys, removed against their will</li>
          {{/values.types-of-exploitation-organs-removed}}
        </ul>
      </div>
    </div>
    {{/criminalExploit}}

    {{#values.types-of-exploitation-unpaid-household-work}}
    <div class= "row bgrey">
      <div class="col-sm-12 pad-left-10">
        <div class="bold">
          Domestic servitude
        </div>
        <ul>
          <li>Forced to do unpaid household work by relatives or strangers</li>
        </ul>
      </div>
    </div>
    {{/values.types-of-exploitation-unpaid-household-work}}

    {{#values.types-of-exploitation-other}}
    <div class= "row bgrey">
      <div class="col-sm-12 pad-left-10">
        <div class="bold">
          Other
        </div>
        <ul>
          {{#values.other-exploitation-details}}
          <li>{{{values.other-exploitation-details}}}</li>
          {{/values.other-exploitation-details}}
          {{^values.other-exploitation-details}}
          <li>Detail not provided</li>
          {{/values.other-exploitation-details}}
        </ul>
      </div>
    </div>
    {{/values.types-of-exploitation-other}}

    <div class= "row bgrey">
      <h3 class="bold">Further information</h3>
      <div class="col-sm-3 bold">
        Other victims
      </div>
      <div class="col-sm-9">
        {{{otherVictims}}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Police force
      </div>
      <div class="col-sm-9">
        {{{values.reported-to-police-police-forces}}}
        {{^values.reported-to-police-police-forces}}
          No information
        {{/values.reported-to-police-police-forces}}
      </div>
    </div>

    <div class="row bgrey pad-bottom-40">
      <div class="col-sm-3 bold pad-left-10">
        Crime reference
      </div>
      <div class="col-sm-9">
        {{{values.reported-to-police-crime-reference}}}
        {{^values.reported-to-police-crime-reference}}
          No information
        {{/values.reported-to-police-crime-reference}}
      </div>
    </div>

    <hr/>

    <div class= "row">
      <h2>Section 3 - Potential victim details</h2>
    </div>

    <hr/>
    <hr/>

    <div class="row bgrey">
      <h3 class="bold">Personal details</h3>
      <div class="col-sm-3 bold">
        First name
      </div>
      <div class="col-sm-9">
        {{{values.pv-name-first-name}}}
        {{^values.pv-name-first-name}}
        No information
        {{/values.pv-name-first-name}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Last name
      </div>
      <div class="col-sm-9">
        {{{values.pv-name-last-name}}}
        {{^values.pv-name-last-name}}
          No information
        {{/values.pv-name-last-name}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Nickname
      </div>
      <div class="col-sm-9">
        {{{values.pv-name-nickname}}}
        {{^values.pv-name-nickname}}
          No information
        {{/values.pv-name-nickname}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Date of Birth
      </div>
      <div class="col-sm-3">
        {{{values.pv-dob}}}
        {{^values.pv-dob}}
        No information
        {{/values.pv-dob}}
      </div>
      <div class="col-sm-2 bold">
        Gender
      </div>
      <div class="col-sm-4">
        {{{gender}}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Children
      </div>
      <div class="col-sm-9">
        {{{pvHasChildren}}}{{#values.does-pv-have-children-yes-amount}} - {{{values.does-pv-have-children-yes-amount}}}{{/values.does-pv-have-children-yes-amount}}
        {{^pvHasChildren}}
        No information
        {{/pvHasChildren}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Nationality
      </div>
      <div class="col-sm-9">
        {{{values.pv-nationality}}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Second Nationality
      </div>
      <div class="col-sm-9">
        {{values.pv-nationality-second}}
        {{^values.pv-nationality-second}}
          No information
        {{/values.pv-nationality-second}}
      </div>
    </div>

    <div class="row bgrey">
      <h3 class="bold">Additional details</h3>
      <div class="col-sm-3 bold">
        HO reference
      </div>
      <div class="col-sm-9">
        {{{values.pv-ho-reference-type}}}
        {{^values.pv-ho-reference-type}}
          No information
        {{/values.pv-ho-reference-type}}
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Interpreter
      </div>
      <div class="col-sm-9">
        {{{values.pv-interpreter-requirements}}}
        {{^values.pv-interpreter-requirements}}
        No information
        {{/values.pv-interpreter-requirements}}
      </div>
    </div>

    {{#values.pv-interpreter-requirements-language}}
    <div class="row bgrey">
      <div class="col-sm-3 bold pad-left-10">
        Interpreter language
      </div>
      <div class="col-sm-9">
        {{{values.pv-interpreter-requirements-language}}}
      </div>
    </div>
    {{/values.pv-interpreter-requirements-language}}

    {{#values.pv-other-help-with-communication-aid}}
    <div class="row bgrey">
    {{/values.pv-other-help-with-communication-aid}}
    {{^values.pv-other-help-with-communication-aid}}
    <div class="row bgrey pad-bottom-40">
    {{/values.pv-other-help-with-communication-aid}}
      <div class="col-sm-3 bold pad-left-10">
        Communication aid
      </div>
      <div class="col-sm-9">
        {{{values.pv-other-help-with-communication}}}
        {{^values.pv-other-help-with-communication}}
        No information
        {{/values.pv-other-help-with-communication}}
      </div>
    {{#values.pv-other-help-with-communication-aid}}
    </div>
    {{/values.pv-other-help-with-communication-aid}}
    {{^values.pv-other-help-with-communication-aid}}
    </div>
    {{/values.pv-other-help-with-communication-aid}}

    {{#values.pv-other-help-with-communication-aid}}
    <div class="row bgrey pad-bottom-40">
      <div class="col-sm-3 bold pad-left-10">
        Communication aid type
      </div>
      <div class="col-sm-9">
        {{{values.pv-other-help-with-communication-aid}}}
      </div>
    </div>
    {{/values.pv-other-help-with-communication-aid}}
  <hr/>

    {{#isAdult}}
      <div class= "row bwhite">
        <h2>Section 4 - Duty to notify</h2>
      </div>
      <hr/>

      <div class= "row bgrey">
        <h3 class="bold">Consent</h3>
        <div class="col-sm-6 bold">
          Do they want their case referred to the NRM?
        </div>
        <div class="col-sm-6">
          {{{values.pv-want-to-submit-nrm}}}
        </div>
      </div>

      {{#values.refuse-nrm}}
      <div class="row bgrey">
        <div class="col-sm-6 bold pad-left-10">
          Why don’t they want their case referred?
        </div>
        <div class="col-sm-6">
          {{{values.refuse-nrm}}}
          {{^values.refuse-nrm}}
            No information
          {{/values.refuse-nrm}}
        </div>
      </div>
      {{/values.refuse-nrm}}

      <div class= "row bgrey">
        <div class="col-sm-6 bold pad-left-10">
          Can the police contact the victim about the case?
        </div>
        <div class="col-sm-6">
          {{{values.co-operate-with-police}}}
        </div>
      </div>

      {{#pvWantToSubmit}}
        <div class="row bgrey">
          <div class="col-sm-6 bold pad-left-10">
            Do they need support?
          </div>
          <div class="col-sm-6">
            {{{values.does-pv-need-support}}}
          </div>
        </div>

        <div class="row bgrey">
          <div class="col-sm-6 bold pad-left-10">
            Who should we send our decision to?
          </div>
          <div class="col-sm-6">
            {{{whoContact}}}
          </div>
        </div>

        {{#contactSomeoneElse}}
          <div class= "row bgrey">
            <h3 class="bold">Other person's contact details</h3>
            <div class="col-sm-2 bold">
              First name
            </div>
            <div class="col-sm-10">
              {{{values.someone-else-first-name}}}
            </div>
          </div>

          <div class= "row bgrey">
            <div class="col-sm-2 bold pad-left-10">
              Last name
            </div>
            <div class="col-sm-10">
              {{{values.someone-else-last-name}}}
            </div>
          </div>

          {{#values.someone-else-postcode}}
          <div class= "row bgrey">
            <div class="col-sm-2 bold pad-left-10">
              Address
            </div>
            <div class="col-sm-10">
              {{values.someone-else-street}}<br>
              {{{values.someone-else-town}}} <br>
              {{#values.someone-else-county}}
              {{{values.someone-else-county}}} <br>
              {{/values.someone-else-county}}
              {{{values.someone-else-postcode}}}
            </div>
          </div>
          {{/values.someone-else-postcode}}

          {{#values.someone-else-email-input}}
          <div class= "row bgrey">
            <div class="col-sm-2 bold pad-left-10">
              Email
            </div>
            <div class="col-sm-10 wrap">
              {{values.someone-else-email-input}}
            </div>
          </div>
          {{/values.someone-else-email-input}}

          {{#values.someone-else-permission-check}}
          <div class= "row bgrey">
            <div class="col-sm-8 bold pad-left-10">
              The potential victim has given permission to send the decision to this person?
            </div>
            <div class="col-sm-4">
              Yes
            </div>
          </div>
          {{/values.someone-else-permission-check}}
        {{/contactSomeoneElse}}
        {{/pvWantToSubmit}}

          <div class= "row bgrey">
            <h3 class="bold">Potential victim contact details</h3>
            {{#values.pv-contact-details-email-input}}
            <div class="col-sm-2 bold">
              Email
            </div>
            <div class="col-sm-10 wrap">
              {{{values.pv-contact-details-email-input}}}
              {{^values.pv-contact-details-email-input}}
              No information
              {{/values.pv-contact-details-email-input}}
            </div>
            {{/values.pv-contact-details-email-input}}
          </div>

          {{#values.pv-contact-details-email-check}}
          <div class= "row bgrey">
            <div class="col-sm-2 bold pad-left-10">
              Safe to contact?
            </div>
            <div class="col-sm-10">
             {{#values.pv-contact-details-email-check}}
              Yes
            {{/values.pv-contact-details-email-check}}
            </div>
          </div>
          {{/values.pv-contact-details-email-check}}

          {{#values.pv-contact-details-postcode}}
          <div class= "row bgrey">
            <div class="col-sm-2 bold pad-left-10">
              Address
            </div>
            <div class="col-sm-10">
              {{{values.pv-contact-details-street}}}<br>
              {{{values.pv-contact-details-town}}} <br>
              {{{values.pv-contact-details-county}}} <br>
              {{{values.pv-contact-details-postcode}}}
            </div>
          </div>

          <div class= "row bgrey">
            <div class="col-sm-2 bold pad-left-10">
              Safe to contact?
            </div>
            <div class="col-sm-10">
              {{#values.pv-contact-details-post-check}}
                Yes
              {{/values.pv-contact-details-post-check}}
              {{^values.pv-contact-details-post-check}}
                No information
              {{/values.pv-contact-details-post-check}}
            </div>
          </div>
          {{/values.pv-contact-details-postcode}}

      {{#values.pv-phone-number}}
      <div class= "row bgrey">
        <div class="col-sm-8 bold pad-left-10">
          Can the support provider contact the potential victim by phone?
        </div>
        <div class="col-sm-4">
          {{{values.pv-phone-number}}}
        </div>
      </div>
      {{/values.pv-phone-number}}

      {{#values.pv-phone-number-yes}}
      <div class= "row bgrey">
        <div class="col-sm-6 bold pad-left-10">
          Phone
        </div>
        <div class="col-sm-6">
          {{{values.pv-phone-number-yes}}}
        </div>
      </div>
      {{/values.pv-phone-number-yes}}

    {{/isAdult}}
  </main>
</body>
</html>
