{{<partials-page}}
{{$back}}{{/back}}
{{$page-content}}
  {{#fields}}
    {{#renderField}}{{/renderField}}
  {{/fields}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Your reference</th>
            <th scope="col" class="govuk-table__header">Created on</th>
            <th scope="col" class="govuk-table__header">Expires on</th>
            <th scope="col" class="govuk-table__header">Days remaining</th>
            <th scope="col" class="govuk-table__header">Next steps</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {{#previousReports}}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{reference}}</td>
              <td class="govuk-table__cell">{{createdAt}}</td>
              <td class="govuk-table__cell">{{expiresAt}}</td>
              <td class="govuk-table__cell">{{daysRemaining}} days</td>
              <td class="govuk-table__cell">
                <a href="/nrm/continue-report?id={{id}}" name="resume" class="govuk-button" >Go to report</a>&nbsp;
                <a href="/nrm/are-you-sure?id={{id}}&reference={{reference}}" name="delete" class="govuk-button govuk-button--secondary">Delete report</a>
              </td>
            </tr>
          {{/previousReports}}
          {{^previousReports}}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="5">You do not currently have any draft reports</td>
          </tr>
          {{/previousReports}}
        </tbody>
      </table>
      <h2>Create a new report</h2>
      <p>Create your report to notify the Home Office of modern slavery and refer potential victims for support.</p>
      <p>You have {{deletionTimeout}} calendar days to update or submit your report, after which it will be deleted.</p>
      <p>If you don't do anything for 1 hour, you will be logged out for security.</p>
      {{#input-submit}}create-report{{/input-submit}}
    </div>
  </div>
{{/page-content}}
{{/partials-page}}
