@import "hof/frontend/themes/gov-uk/styles/govuk";

html {
  font-size: 16px;
}

a {
  @extend .govuk-link;
}

p {
  @extend .govuk-body;
}

ul {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}

.phase-banner {
  @include phase-banner(beta);
}

.twitter-typeahead {
  width: 100%;
}

// autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.checkbox-hint {
  padding-left: 50px;
  margin-top: -25px;
}

.bullet-list {
  list-style: disc;
  margin-left: 20px;
}

textarea {
  font-size: 19px !important;
}

#types-of-exploitation-forced-to-work-group>.govuk-form-group--error {
  box-sizing: inherit;
  padding-left: 0px;
  border-left: none;
}

#types-of-exploitation-forced-to-work-group>.govuk-error-message {
  display: none;
}

.validation-error-override {
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 4px solid #d4351c;
}

.error-message-override {
  display: block !important;
}

// Check your answers page
#your-report,
#potential-victim,
#your-details,
#someone-else {
  td {
    a[href*="nrm"] {
      color: #1D70B8 !important;
      background-color: white !important;
      text-decoration: underline;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }

    .govuk-hint {
      margin-bottom: 0;
    }

    span {
      display: block;
    }

    &:first-child {
      font-weight: bold;
    }

    &:not(.no-white-space) {
      white-space: normal;
    }
  }
}

.types-of-exploitation {
  span {
    margin-bottom: 10px;
  }
}

/* Start page overrides */
.max-page-width {
  width: 100% !important;
}

.heading-large-custom {
  font-size: 36px;
  line-height: 1.11111;
  margin-top: 0px !important;
  font-weight: bold;
}

.breadcrumb-custom {
  margin-top: -30px;
  margin-bottom: 30px;
}


// Accessible autocomplete
.autocomplete__wrapper {
  position: relative;
}

.autocomplete__hint,
.autocomplete__input {
  -webkit-appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  /* Safari 10 on iOS adds implicit border rounding. */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  /* BUG: Safari 10 on macOS seems to add an implicit margin. */
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__input--error {
  border: 2px solid #d4351c !important;
}

.autocomplete__hint {
  color: #b1b4b6;
  position: absolute;
}

.autocomplete__input--default {
  padding: 5px;
}

.autocomplete__input--focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.autocomplete__input--show-all-values {
  padding: 5px 34px 5px 5px;
  /* Space for arrow. Other padding should match .autocomplete__input--default. */
  cursor: pointer;
}

.autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px;
}

.autocomplete__menu {
  background-color: #fff;
  border: 2px solid #0B0C0C;
  border-top: 0;
  color: #0B0C0C;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  border-bottom: solid #b1b4b6;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}

.autocomplete__option>* {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color: #FAFAFA;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: white;
  outline: none;
}

.autocomplete__option--no-results {
  background-color: #FAFAFA;
  color: #646b6f;
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 5px;
}

@media (min-width: 641px) {

  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 19px;
    line-height: 1.31579;
  }
}

a > .govuk-button {
  background-color: #00703c
}

.govuk-button--secondary {
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191;
}

.govuk-button--secondary:hover {
  background-color: #dbdad9;
}

.govuk-button--secondary,
.govuk-button--secondary:link,
.govuk-button--secondary:visited,
.govuk-button--secondary:active,
.govuk-button--secondary:hover {
  color: #0b0c0c;
}

.secondary-link {
  margin-top: 9px;
  display: inline-block;
  padding: 0px 1em;
}


.govuk-table__cell {
  .govuk-button {
    margin-bottom: 0;
  }
}

.govuk-button--start {
  padding-right: 15px;
}

.govuk-button__start-icon {

  margin-left: 5px;
  vertical-align: middle;
  flex-shrink: 0;
  align-self: center;
  forced-color-adjust: auto;
}

.govuk-button__start-icon {
  @media (min-width: 48.0625em) {
    margin-left: 10px;
  }
}

.js-enabled .add-another {
  display: none;
}

.add-another {
  @media (min-width: 40.0625em) {
    .list-entry {
      width: 80%;
      float: left;
      margin-right: 20px;
    }

    .list-entry-button {
      margin: 0;
    }

    .govuk-main-wrapper {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    .govuk-hint {
      padding-top: 0.75em;
    }
  }
}

//Cookie banner styling

#cookie-banner {
  #cookie-banner-actions {
    font-size: 65% !important;
    width: 66.667% !important;
  }
}

.wrap-table-cell {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.no-margin {
  margin-bottom: 0;
}

// GovUK Corrections

#reference-hint.govuk-hint {
  padding-top: 0.75em;
  margin-bottom: 0.75em;
}

// Text Field Widths
.field-width-1-8 {
  @media (min-width: 768px) {
    width: 150%;

    @include media(tablet) {
      width: 150%;
    }
  }
}

.wrap-table-cell,
.confirm-row,
.section-header {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.confirm-label>span.govuk-hint {
  padding-top: -20px;
  padding-bottom: -50px;
  margin-bottom: 0;
}

.confirm-label>p.label-info {
  padding-top: -20px;
  padding-bottom: -50px;
  margin-bottom: 0;
}

.spinner-loader {
  border: 5px solid #DEE0E2;
  border-radius: 50%;
  border-top-color: #005EA5;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
.spinner-container {
  display: none;
  margin-top: 20px;
  align-items: center; /* Vertically center the spinner and message */
}
.spinner-message {
  margin-left: 10px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
