@import "$$theme";
@import "node_modules/govuk-frontend/all.scss";

html {
  font-size:16px;
}

.phase-banner {
  @include phase-banner(beta);
}

.twitter-typeahead {
  width: 100%;
}

// autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}
.checkbox-hint {
  padding-left: 50px;
  margin-top: -25px;
}
.bullet-list {
  list-style: disc;
  margin-left: 20px;
}
textarea {
  font-size: 19px !important;
}
#supporting-documents-list {
  border: 5px solid #dee0e2;
  margin-top: 30px;
  padding: 20px 15px 20px 15px;

  h2 {
    margin-top: 0;
  }

  .supporting-documents-list {
    font-size: 16px;
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 5px;

    .button-delete {
      @include bold-24;
      font-size: 16px !important;
      background: $red url("../images/icons/icon-cross-remove-sign.png") no-repeat 90% 50% / 14px 14px;
      float: right;
      box-shadow: 0 2px 0 darken( $red, 10% );
      padding: em(7) em(41) em(4) em(16);
      -webkit-box-shadow: 0 2px 0 darken( $red, 10% );
      -moz-box-shadow: 0 2px 0 darken( $red, 10% );

      &:hover, &:active {
        background-color: darken( $red, 10% );
      }

      &:visited {
        background-color: $red;
      }
    }
  }
}

#types-of-exploitation-forced-to-work-group > .validation-error {
  box-sizing: inherit;
  padding-left: 0px;
  border-left: none;
}

#types-of-exploitation-forced-to-work-group > .error-message {
  display: none;
}

.validation-error-override {
  box-sizing: border-box;
  padding-left: 12px;
  border-left: 4px solid #b10e1e;
}

.error-message-override {
  display: block !important;
}

// Check your answers page
#your-report, #potential-victim, #your-details, #someone-else {
  td {
    a[href*="nrm"] {
      color: #005ea5 !important;
      background-color: white !important;
      text-decoration: underline;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }

    span {
      display: block;
    }

    &:first-child{
      font-weight: bold;
    }

    &:not(.no-white-space) {
      white-space: normal;
    }
    }
  }
  .types-of-exploitation {
    span {
      margin-bottom: 10px;
  }
}

/* Start page overrides */
.max-page-width {
  width: 100% !important;
}
.heading-large-custom {
  font-size: 36px;
  line-height: 1.11111;
  margin-top: 0px !important;
  font-weight: bold;
}
.breadcrumb-custom {
  margin-top: -30px;
  margin-bottom: 30px;
}

/* inline block style display */
.inline-block-display {
  display: inline-block;
}