@import "$$theme";
@import "node_modules/govuk-frontend/components/textarea/textarea";

.phase-banner {
  @include phase-banner(beta);
}

.twitter-typeahead {
  width: 100%;
}

// autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
  color: red;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.bullet-list {
  list-style: disc;
  margin-left: 20px;
}
textarea {
  font-size: 19px !important;
}
#supporting-documents-list {
  border: 5px solid #dee0e2;
  margin-top: 30px;
  padding: 20px 15px 20px 15px;

  h2 {
    margin-top: 0;
  }

  .supporting-documents-list {
    font-size: 16px;
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 5px;

    .button-delete {
      @include bold-24;
      font-size: 16px !important;
      background: $red url("../images/icons/icon-cross-remove-sign.png") no-repeat 90% 50% / 14px 14px;
      float: right;
      box-shadow: 0 2px 0 darken( $red, 10% );
      padding: em(7) em(41) em(4) em(16);
      -webkit-box-shadow: 0 2px 0 darken( $red, 10% );
      -moz-box-shadow: 0 2px 0 darken( $red, 10% );

      &:hover, &:active {
        background-color: darken( $red, 10% );
      }

      &:visited {
        background-color: $red;
      }
    }
  }
}

// PDF
.organisation-logo-stacked-ho-large {
  padding: 85px 0 0 10px;
  background-image: url("../images/ho_crest_27px_x2.png");
  background-position: 10px top;
  background-repeat: no-repeat;
  display: block;
  border-left: 3px solid #9325b2;
  background-size: 200px;
}

.organisation-logo-stacked-ho-large.logo-medium {
  padding: 70px 0 0 10px;
  background-size: 32px;
}

hr {
  border: none;
  color: #ff0000;
  border-top: 1px solid #ec0b0b;
  display: block;
  width: 100%;
  margin: 0;
}

blah {
  color: blue;
}
