---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{ if not (eq .KUBE_NAMESPACE .PROD_ENV) }}
  annotations:
    downscaler/uptime: {{ .NON_PROD_AVAILABILITY }}
  {{ end }}
  name: file-vault
spec:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  replicas: 2
  {{ else }}
  replicas: 1
  {{ end }}
  selector:
    matchLabels:
      name: file-vault
      service: file-vault
  template:
    metadata:
      labels:
        name: file-vault
        service: file-vault
    spec:
      containers:
        - name: file-vault
          # v3.0.1 28th August 2025
          image: quay.io/ukhomeofficedigital/file-vault:3.0.1@sha256:44f35820701981eeb3371d332e6fd53f697e1bcd60f75731a57e8da6edb7bed5
          imagePullPolicy: Always
          resources:
            limits:
              memory: 1024Mi
              cpu: 200m
            requests:
              memory: 512Mi
              cpu: 100m
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: configmap
                {{ end }}
          env:
            # because the internal virus scanner has a self signed cert!
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
            - name: FILE_VAULT_URL
          {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://fv-ms.modernslavery.homeoffice.gov.uk
          {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://fv-ms.preprod.ms-notprod.homeoffice.gov.uk
          {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://fv-ms.uat.ms-notprod.homeoffice.gov.uk
          {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://fv-ms.{{ .BRANCH_ENV }}.homeoffice.gov.uk
          {{ end }}
            - name: PORT
              value: "3000"
            - name: CLAMAV_REST_URL
              value: https://clamav.virus-scan.svc.cluster.local/scan
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}            
                  name: ms-s3-branch
                  {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}          
                  name: ms-s3-uat
                  {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
                  name: ms-s3-preprod
                  {{ else }}
                  name: ms-s3-prod
                  {{ end }}
                  key: access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                  name: ms-s3-branch
                  {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
                  name: ms-s3-uat
                  {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
                  name: ms-s3-preprod
                  {{ else }}
                  name: ms-s3-prod
                  {{ end }}
                  key: secret_access_key
            - name: AWS_KMS_KEY_ID
              valueFrom:
                secretKeyRef:
                  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}            
                  name: ms-s3-branch
                  {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}          
                  name: ms-s3-uat
                  {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
                  name: ms-s3-preprod
                  {{ else }}
                  name: ms-s3-prod
                  {{ end }}
                  key: kms_key_id
            - name: AWS_BUCKET
              valueFrom:
                secretKeyRef:
                  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}            
                  name: ms-s3-branch
                  {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}          
                  name: ms-s3-uat
                  {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
                  name: ms-s3-preprod
                  {{ else }}
                  name: ms-s3-prod
                  {{ end }}
                  key: name
            - name: AWS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: file-vault
                  # encryption_key is randomly generated password used to encrypt the params that are returned by file-vault
                  key: encryption_key
            - name: AWS_EXPIRY_TIME
              value: "604800"
            - name: RETURN_ORIGINAL_SIGNED_URL
              value: "no"
            - name: ALLOW_GENERATE_LINK_ROUTE
              value: "yes"
          securityContext:
            runAsNonRoot: true

        - name: keycloak-proxy
          image: quay.io/ukhomeofficedigital/gogatekeeper:3.5.0
          resources:
            limits:
              memory: 1024Mi
              cpu: 200m
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: configmap
                {{ end }}
          env:
            - name: PROXY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: keycloak-client-fv
                  key: secret
            - name: PROXY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: keycloak-client-fv
                  key: id
            - name: PROXY_LISTEN
              value: 127.0.0.1:3001
            # the endpoint where requests are proxied to
            - name: PROXY_UPSTREAM_URL
              value: "http://127.0.0.1:3000"
            - name: PROXY_REDIRECTION_URL
          {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://fv-ms.modernslavery.homeoffice.gov.uk
          {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://fv-ms.preprod.ms-notprod.homeoffice.gov.uk
          {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://fv-ms.uat.ms-notprod.homeoffice.gov.uk
          {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://fv-ms.{{ .BRANCH_ENV }}.homeoffice.gov.uk
          {{ end }}
          args:
             # the url which is used to retrieve the OpenID configuration
          {{ if not (eq .KUBE_NAMESPACE .PROD_ENV) }}
            - --discovery-url=https://sso-dev.notprod.homeoffice.gov.uk/auth/realms/ms-keycloak
          {{ else }}
            - --discovery-url=https://sso.digital.homeoffice.gov.uk/auth/realms/ms-keycloak-prod
          {{ end }}
            # URls that you wish to protect.
            - --resources=uri=/file|methods=GET,POST|roles=caseworkers
            - --resources=uri=/*
            - --enable-default-deny=false
            - --enable-security-filter=true
            - --enable-request-id=true
            - --enable-logging=true
            - --enable-json-logging=true
            - --enable-encrypted-token=false
          {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            - --verbose=true
          {{ end }}
          ports:
            - containerPort: 3001
          securityContext:
            runAsNonRoot: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /certs
              name: certs
            - mountPath: /etc/ssl/certs
              name: bundle
              readOnly: true

        - name: nginx-proxy
          image: quay.io/ukhomeofficedigital/nginx-proxy:v.4.4.7@sha256:0c58dabb1df4b4ad4bf1c6ed4ee1e81e440384e0ea41399c568aeb79e627b8ac
          resources:
            limits:
              memory: 1024Mi
              cpu: 200m
            requests:
              memory: 512Mi
          env:
{{ file .FILEVAULT_NGINX_SETTINGS | indent 12 }}
          ports:
            - containerPort: 10080
            - containerPort: 10443
          securityContext:
            runAsNonRoot: true
          volumeMounts:
            - mountPath: /certs
              name: certs
              readOnly: true
            - name: bundle
              mountPath: /etc/ssl/certs
              readOnly: true
      volumes:
        - name: certs
          secret:
            {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            secretName: branch-tls-external
            {{ else }}
            secretName: file-vault-cert
            {{ end }}
        - name: bundle
          configMap:
            name: bundle
