---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: file-vault-ingress
{{ file .FILEVAULT_INGRESS_EXTERNAL_ANNOTATIONS | indent 2 }}
spec:
{{ if or (eq .KUBE_NAMESPACE .STG_ENV) (eq .KUBE_NAMESPACE .PROD_ENV) }}
  ingressClassName: nginx-external
{{ end }}
  tls:
    - hosts:
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      - fv-ms-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk
      {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
      - fv-ms.uat.ms-notprod.homeoffice.gov.uk
      {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
      - fv-ms.preprod.ms-notprod.homeoffice.gov.uk
      {{ else if eq .KUBE_NAMESPACE .PROD_ENV }}
      - fv-ms.modernslavery.homeoffice.gov.uk
      {{ end }}
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      secretName: branch-tls-external
      {{ else }}
      secretName: file-vault-cert
      {{ end }}
  rules:
  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
    - host: fv-ms-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk
  {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
    - host: fv-ms.uat.ms-notprod.homeoffice.gov.uk
  {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
    - host: fv-ms.preprod.ms-notprod.homeoffice.gov.uk
  {{ else if eq .KUBE_NAMESPACE .PROD_ENV }}
    - host: fv-ms.modernslavery.homeoffice.gov.uk
  {{ end }}
      http:
        paths:
        - path: /
          backend:
            serviceName: file-vault
            servicePort: 10443
