{{<partials-page}}
{{$page-content}}
<br>
<h1 class="govuk-heading-l">Accessibility statement</h1>

  <div>
    <p>This accessibility statement applies to the report modern slavery service.</p>
    <p>This service is run by the Home Office. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p>We’ve also made the text as simple as possible to understand.</p>
    <p><a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h3 class="govuk-heading-m">How accessible this service is</h3>
    <p>This service is fully accessible.</p>

    <h3 class="govuk-heading-m">Feedback and contact information</h3>
    <p>If you need to report modern slavery but are unable to use this service, email <a class="govuk-link" href="mailto:nrm@modernslavery.gov.uk">nrm@modernslavery.gov.uk</a> and we will make alternative arrangements.</p>

    <h3 class="govuk-heading-m">Reporting accessibility problems with this service</h3>
    <p>We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email <a class="govuk-link" href="mailto:nrm@modernslavery.gov.uk">nrm@modernslavery.gov.uk</a>.</p>

    <h3 class="govuk-heading-m">Enforcement procedure</h3>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
    <p>If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the <a class="govuk-link" href="https://www.equalityni.org/Home">Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.</p>

    <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
    <p>The Home Office is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3 class="govuk-heading-m">Compliance status</h3>
    <p>This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p>This statement was prepared on 22 September 2020. It was last reviewed and updated on 22 October 2020.</p>
    <p>The main service was last tested on 22 July 2020. This test was carried out by the Home Office. A sample of pages to test were chosen based on a typical user journey from the service’s start page to final submission.</p>
    <p>New features were later added to allow users to save and return to their reports. These features were last tested on 8 October 2020. This test was carried out by Marvell Consulting Ltd with every new page tested.</p>
  </div>
{{/page-content}}
{{/partials-page}}
