{{<error}}
    {{$content}}
        <h1 class="govuk-heading-l">{{#t}}errors.session.title{{/t}}</h1>
        <p class="govuk-body">{{#t}}pages.session.message-1{{/t}}</p>

        <div class="govuk-inset-text">
            {{#t}}pages.session.message-2{{/t}}
            <br>{{#t}}pages.session.message-3{{/t}}</br>
        </div>

        <a href="/start" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
            {{#t}}pages.session.startAgain{{/t}}
        </a>
    {{/content}}
{{/error}}
