{{<partials-page}}
{{$page-content}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>{{#t}}pages.start.paragraph-1-partial-1{{/t}} <a href="designated-organisations">{{#t}}pages.start.paragraph-1-link-text{{/t}}</a> {{#t}}pages.start.paragraph-1-partial-2{{/t}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.start.paragraph-1-bullet-1{{/t}}</li>
      <li>{{#t}}pages.start.paragraph-1-bullet-2{{/t}}</li>
      <li>{{#t}}pages.start.paragraph-1-bullet-3{{/t}}</li>
    </ul>

    <p>{{#t}}pages.start.paragraph-2{{/t}}</p>

    <p>{{#t}}pages.start.paragraph-3{{/t}}</p>

    <div class="govuk-!-padding-bottom-1"></div>

    {{#input-submit}}start-home{{/input-submit}}

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">{{#t}}pages.start.heading-2{{/t}}</h2>

    <p>{{#t}}pages.start.div-1{{/t}} <a href="https://www.modernslaveryhelpline.org/report">{{#t}}pages.start.div-1-link-text-1{{/t}}</a>.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside>
      <h2 class="govuk-heading-m">{{#t}}pages.start.aside-heading-1{{/t}}</h2>
      <nav role="navigation">
        <ul class="govuk-list govuk-body-s">
          <li>
            <a href="https://www.gov.uk/government/publications/human-trafficking-victims-referral-and-assessment-forms/guidance-on-the-national-referral-mechanism-for-potential-adult-victims-of-modern-slavery-england-and-wales">
              {{#t}}pages.start.aside-link-text-1{{/t}}
            </a>
          </li>
          <li>
            <a href="support-organisations">
              {{#t}}pages.start.aside-link-text-2{{/t}}
            </a>
          </li>
          <li>
            <a href="paper-version-download">
              {{#t}}pages.start.aside-link-text-3{{/t}}
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{{/page-content}}
{{/partials-page}}
