{{<partials-page}}
{{$page-content}}
<fieldset class="govuk-fieldset">
    <p class="govuk-body">{{#t}}pages.designated-organisations.paragraph-1{{/t}}</p>

   <ul class="govuk-list govuk-list--bullet">
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-1{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-2{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-3{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-4{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-5{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-6{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-7{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-8{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-9{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-10{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-11{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-12{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-13{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-14{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-15{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-16{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-17{{/t}}</li>
    <li>{{#t}}pages.designated-organisations.paragraph-1-bullet-18{{/t}}</li>
    </ul>
</fieldset>
{{/page-content}}
{{/partials-page}}
