{{<partials-page}}
{{$page-content}}
  <div>
    <p>{{#t}}pages.privacy.paragraph-1{{/t}}</p>
    <p><a href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter">{{#t}}pages.privacy.paragraph-2-link-1{{/t}}</a> {{#t}}pages.privacy.paragraph-1{{/t}}</p>
    <p>{{#t}}pages.privacy.paragraph-3{{/t}} <a href="http://www.legislation.gov.uk/ukpga/2018/12/contents">{{#t}}pages.privacy.paragraph-3-link-1{{/t}}</a></p>
    <p>{{#t}}pages.privacy.paragraph-4{{/t}}</p>

    <h2 class="govuk-heading-m">{{#t}}pages.privacy.heading-2{{/t}}</h2>
    <p>{{#t}}pages.privacy.paragraph-5{{/t}}</p>

    <p>{{#t}}pages.privacy.paragraph-6{{/t}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.privacy.bullet-1{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-2{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-3{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-4-part-1{{/t}}<a href="/docs/cookies">{{#t}}pages.privacy.bullet-4-link-1{{/t}}</a></li>
    </ul>

    <p>{{#t}}pages.privacy.paragraph-7{{/t}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.privacy.bullet-5{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-6{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-7{{/t}}</li>
    </ul>

    <h2 class="govuk-heading-m">{{#t}}pages.privacy.heading-3{{/t}}</h2>

    <p>{{#t}}pages.privacy.paragraph-8-part-1{{/t}}<a href="https://www.gov.uk/eu-eea">{{#t}}pages.privacy.paragraph-8-link-1{{/t}}</a></p>

    <h2 class="govuk-heading-m">{{#t}}pages.privacy.heading-4{{/t}}</h2>

    <p>{{#t}}pages.privacy.paragraph-9{{/t}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{#t}}pages.privacy.bullet-8{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-9{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-10{{/t}}</li>
      <li>{{#t}}pages.privacy.bullet-11{{/t}}</li>
    </ul>
    <p>{{#t}}pages.privacy.paragraph-10{{/t}}</p>
    <p>{{#t}}pages.privacy.paragraph-11{{/t}}</p>
    <p>{{#t}}pages.privacy.paragraph-12-part-1{{/t}}<br>
      {{#t}}pages.privacy.paragraph-12-part-2{{/t}}<br>
      {{#t}}pages.privacy.paragraph-12-part-3{{/t}}<br>
      {{#t}}pages.privacy.paragraph-12-part-4{{/t}}<br>
      {{#t}}pages.privacy.paragraph-12-part-5{{/t}}</p>

      <p>{{#t}}pages.privacy.paragraph-13{{/t}}<a href="mailto:subjectaccessrequest@homeoffice.gsi.gov.uk?subject=subjectaccessrequest">{{#t}}pages.privacy.paragraph-13-link-1{{/t}}</a>

    </p><h3 class="govuk-heading-m">{{#t}}pages.privacy.heading-5{{/t}}</h3>

    <p>{{#t}}pages.privacy.paragraph-14{{/t}}</p>

    <h3 class="govuk-heading-m">{{#t}}pages.privacy.heading-6{{/t}}</h3>

    <p>{{#t}}pages.privacy.paragraph-15{{/t}}</p>

    <h3 class="govuk-heading-m">{{#t}}pages.privacy.heading-7{{/t}}</h3>

    <p>{{#t}}pages.privacy.paragraph-16{{/t}}</p>

    <h3 class="govuk-heading-m">{{#t}}pages.privacy.heading-8{{/t}}</h3>

    <p>{{#t}}pages.privacy.paragraph-17{{/t}}</p>
    <p>{{#t}}pages.privacy.paragraph-18{{/t}}</p>
  </div>
{{/page-content}}
{{/partials-page}}
