<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NRM for {{name}}</title>
  <link href="{{hostUrl}}/public/css/pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <main id="content" role="main" class="evw container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="pad-bottom-40"><span class="organisation-logo organisation-logo-stacked-ho organisation-logo-stacked-ho-large"></span></h1>
        </div>
        <div class="col-sm-6">
          <h2 class="text-right pad-top-10">NRM Report</h2>
          <h3 class="text-right font-small">Date submitted: 18/02/19 12:15</h3>
        </div>
      </div>
    </div>
    <hr/>

    <div class= "row">
      <h2>Section 1 - Your details</h2>
    </div>
    <hr/>

    <div class="row bgrey">
      <h3 class="bold">Your details</h3>
      <div class="col-sm-6">
        Mo Ali
      </div>
      <div class="col-sm-1 bold">
        Phone
      </div>
      <div class="col-sm-5">
        02074685416456
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-6 pad-left-10">
        sulthan.ahmed@gmail.com
      </div>
    </div>

    <div class="row bgrey">
      <h3 class="bold">Who do you work for</h3>
      <div class="col-sm-2 bold">
        Organisation
      </div>
      <div class="col-sm-4">
        Westiminister City Council
      </div>
      <div class="col-sm-1 bold">
        Role
      </div>
      <div class="col-sm-5">
        Senior Practitioner
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Who should we contact in your absence</h3>
      <div class="col-sm-6">
        team-email@digital.homeoffice.com
      </div>
    </div>

    <div class= "row bgrey pad-bottom-40">
      <h3 class="bold">Where are you making this report?</h3>
      <div class="col-sm-6">
        England
      </div>
    </div>

    <hr/>
    <div class= "row">
      <h2>Section 2 - Exploitation</h2>
    </div>
    <hr/>

    <div class="row bgrey">
      <h3 class="bold">Age confirmation</h3>
      <div class="col-sm-3 bold">
        Is the PV under 18?
      </div>
      <div class="col-sm-3">
        Yes
      </div>
      <div class="col-sm-4 bold">
        Under 18 (during exploitation)?
      </div>
      <div class="col-sm-2">
        Yes
      </div>
    </div>

    <div class= "row bgrey">
      <h3>Victim's account</h2>
      <div class="col-sm-12">
        She was put in the back of a lorry with 5 other people. She was told by her uncle that she would be going to work for his business but then when she arrived in Manchester she was sold to someone.
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Exploitation location</h3>
      <div class="col-sm-2 bold">
        Region
      </div>
      <div class="col-sm-10">
        UK<br>
        Greater London<br>
        Wandsworth<br>
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Details
      </div>
      <div class="col-sm-10">
        There was a local school and the children wore green uniforms and there was also a pub called The Ship near the location the victim was being held in.
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Overseas
      </div>
      <div class="col-sm-10">
        Romania
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Where are they now?</h3>
      <div class="col-sm-12">
        Greater London - Lambeth
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">How were they exploited?</h3>
      <div class="col-sm-4">
        <span class="bold pad-left-80">Labour & financial</span><br>
        <ul class="pad-left-0">
          <li> Forced to work for nothing or almost nothing</li>
          <li> Wages taken by force or coercion, such as through control of a bank account
          Forced to commit fraud, such as using their identity to claim benefits</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <span class="bold">Sexual exploitation</span><br>
        <ul class="pad-left-0">
          <li> Forced into prostitution</li>
          <li> Child sexual exploitation</li>
          <li> Taken somewhere, held against their will and sexually assaulted</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <span class="bold">Criminal exploitation</span><br>
        <ul class="pad-left-0">
          <li> Forced to commit a crime, such as growing cannabis, drug dealing or begging</li>
          <li> Organs, such as kidneys, removed against their will</li>
        </ul>
      </div>
    </div>
    <div class="row bgrey">
      <div class="col-sm-4">
        <span class="bold pad-left-80">Domestic</span><br>
        <ul class="pad-left-0">
          <li> Forced to do unpaid household work by relatives or strangers</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <span class="bold">Other</span><br>
        <ul class="pad-left-0">
          <li> Something else</li>
        </ul>
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Exploiter</h3>
      <div class="col-sm-12">
         They call him Fredo and he wears a baseball cap and has a tattoo of a snake on his arm.
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Further information</h3>
      <div class="col-sm-2 bold">
        Other victims
      </div>
      <div class="col-sm-10">
        No
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Crime reference
      </div>
      <div class="col-sm-10">
        Yes
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Police force
      </div>
      <div class="col-sm-10">
        Metropolitan Police Service
      </div>
    </div>

    <div class="row bgrey pad-bottom-40">
      <div class="col-sm-2 bold pad-left-10">
        Reference
      </div>
      <div class="col-sm-10">
        KML-1239-123
      </div>
    </div>

    <hr/>

    <div class= "row">
      <h2>Section 3 - Potential victim details</h2>
    </div>

    <hr/>
    <hr/>

    <div class="row bgrey">
      <h3 class="bold">Personal details</h3>
      <div class="col-sm-2 bold">
        Full name
      </div>
      <div class="col-sm-4">
        June Hayward
      </div>
      <div class="col-sm-2 bold">
        Nickname
      </div>
      <div class="col-sm-4">
        Sara
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Date of Birth
      </div>
      <div class="col-sm-4">
        29/09/1988
      </div>
      <div class="col-sm-2 bold">
        Gender
      </div>
      <div class="col-sm-4">
        Female
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Nationality
      </div>
      <div class="col-sm-4">
        French
      </div>
      <div class="col-sm-2 bold">
        Children
      </div>
      <div class="col-sm-4">
        Yes - 3
      </div>
    </div>

    <div class="row bgrey">
      <h3 class="bold">Additional details</h3>
      <div class="col-sm-2 bold">
        Home office
      </div>
      <div class="col-sm-4">
        Yes
      </div>
      <div class="col-sm-2 bold">
        Reference
      </div>
      <div class="col-sm-4">
        123464645456
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Interpreter
      </div>
      <div class="col-sm-4">
        Yes
      </div>
      <div class="col-sm-2 bold">
        Language
      </div>
      <div class="col-sm-4">
        French
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Other aids
      </div>
      <div class="col-sm-4">
        Yes
      </div>
      <div class="col-sm-2 bold">
        Type
      </div>
      <div class="col-sm-4">
        Sign language
      </div>
    </div>

    <div class= "row bgrey">
      <h3 class="bold">Contact details</h3>
      <div class="col-sm-2 bold">
        Email
      </div>
      <div class="col-sm-10">
        june.hayward@oxfam.com
      </div>
    </div>

    <div class= "row bgrey pad-bottom-40">
      <div class="col-sm-2 bold pad-left-10">
        Address
      </div>
      <div class="col-sm-10">
        8 Chester Road, Wandsworth, London, SW18 8HD
      </div>
    </div>


    <hr/>

    <div class= "row">
      <h2>Section 4 - NRM Consent</h2>
    </div>
    <hr/>

    <div class= "row bgrey">
      <h3 class="bold">Consent</h3>
      <div class="col-sm-2 bold">
        NRM decision
      </div>
      <div class="col-sm-10">
        june.hayward@oxfam.com
      </div>
    </div>

    <div class="row bgrey">
      <div class="col-sm-2 bold pad-left-10">
        Support
      </div>
      <div class="col-sm-4">
        Yes
      </div>
      <div class="col-sm-2 bold">
        PV Phone
      </div>
      <div class="col-sm-4">
        0794546498484
      </div>
    </div>

    <div class= "row bgrey pad-bottom-40">
      <div class="col-sm-2 bold pad-left-10">
        Contact method
      </div>
      <div class="col-sm-4">
        Email and post
      </div>
    </div>
  </main>
</body>
</html>
