<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NRM for {{name}}</title>
  <!-- TODO: pass in this through locals -->
  <link href="http://localhost:8081/public/css/pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <main id="content" role="main" class="evw container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="pad-bottom-40"><span class="organisation-logo organisation-logo-stacked-ho organisation-logo-stacked-ho-large"></span></h1>
      </div>
      <div class="col-sm-6">
        <h2 class="text-right bold-large pad-top-10">NRM Report</h1>
        <h3 class="text-right">Date submitted: 18/02/19 12:15</span>
      </div>
    </div>

    <hr/>
    <div class= "row">
      <h2 class="bold">Section 1 - Your details</h2>
    </div>
    <hr/>

    


      <div class="row pad-top-60">
        <div class="col-sm-12">
          <p class="item-title font-medium">Name / الاسم</p>
          <p class="font-large">{{name}}</p>
        </div>
      </div>

      <div class="row pad-top-40">
        <div class="col-sm-12">
          <p class="item-title font-medium"">Passport number / رقم جواز السفر</p>
          <p class="font-large">{{passportNumber}}</p>
        </div>
      </div>

      <div class="row pad-top-20">
        <div class="col-sm-12">
          <p class="item-title font-medium">Country of nationality / الجنسية:</p>
          <p class="font-large">{{nationality}}</p>
        </div>
      </div>
      <div class="row pad-top-20">
        <div class="col-sm-12">
          <p class="item-title font-medium">Date of birth / تاريخ الميلاد</p>
          <p class="font-large">{{dob}}</p>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
