<div id="pv-alternative-number-details-fieldset" class="govuk-radios__conditional govuk-radios__conditional--hidden">
   <p class="govuk-body govuk-!-font-weight-bold">{{#t}}pages.pv-phone-number.alternative-phone-number-text{{/t}}</p>
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">{{#t}}pages.pv-phone-number.warning-assistive{{/t}}</span>
            {{#t}}pages.pv-phone-number.alternative-phone-number-warning{{/t}}
        </strong>
    </div>
    {{#input-text}}pv-phone-number-alternative{{/input-text}}
    {{#input-text}}alternative-number-relation-to-pv{{/input-text}}
</div>
