<h2 class="details-header">{{#t}}pages.confirm.sections.your-details.header{{/t}}</h2>
<table id="your-details" class="table-details">
  <tbody>
      {{#values.fr-details-name}}
      <tr>
        <td>{{#t}}pages.confirm.fields.fr-details-name.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.fr-details-name}}
          </span>
        </td>
        <td>
          <a href="/nrm/fr-details-name#fr-details-name" class="button">Change</a>
        </td>
      </tr>
      {{/values.fr-details-name}}

      {{#values.fr-details-role}}
      <tr>
        <td>{{#t}}pages.confirm.fields.fr-details-role.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.fr-details-role}}
          </span>
        </td>
        <td>
          <a href="/nrm/fr-details-role#fr-details-role" class="button">Change</a>
        </td>
      </tr>
      {{/values.fr-details-role}}

      {{#values.fr-details-phone}}
      <tr>
        <td>{{#t}}pages.confirm.fields.fr-details-phone.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.fr-details-phone}}
          </span>
        </td>
        <td>
          <a href="/nrm/fr-details-phone#fr-details-phone" class="button">Change</a>
        </td>
      </tr>
      {{/values.fr-details-phone}}

      {{#values.fr-alternative-contact}}
      <tr>
        <td>{{#t}}pages.confirm.fields.fr-alternative-contact.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.fr-alternative-contact}}
          </span>
        </td>
        <td>
          <a href="/nrm/fr-alternative-contact#fr-alternative-contact" class="button">Change</a>
        </td>
      </tr>
      {{/values.fr-alternative-contact}}
  </tbody>
</table>
