<h2 class="details-header">{{#t}}pages.confirm.sections.your-report.header{{/t}}</h2>
<table id="your-report" class="table-details">
  <tbody>
    {{#values.reference}}
    <tr>
      <td>{{#t}}pages.confirm.fields.reference.label{{/t}}
        <br />
        <span class="govuk-hint">{{#t}}pages.confirm.fields.reference.hint{{/t}}</span>
      </td>
      <td class="no-white-space">
          {{values.reference}}
      </td>
      <td>
        <a href="/nrm/reference/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.reference.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.reference}}

    {{#values.user-organisation}}
    <tr>
      <td>{{#t}}pages.confirm.fields.user-organisation.label{{/t}}</td>
      <td class="no-white-space">
          {{values.user-organisation}}
      </td>
      <td>
        <a href="/nrm/organisation/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.user-organisation.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.user-organisation}}

    {{#values.pv-under-age}}
    <tr>
      <td>{{#t}}pages.confirm.fields.pv-under-age.label{{/t}}</td>
      <td class="no-white-space">
          {{formattedPvUnderAge}}
      </td>
      <td>
        <a href="/nrm/pv-under-age/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-under-age.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.pv-under-age}}

    {{#values.pv-under-age-at-time-of-exploitation}}
    <tr>
      <td>{{#t}}pages.confirm.fields.pv-under-age-at-time-of-exploitation.table-data{{/t}}</td>
      <td class="no-white-space">
          {{formattedPvUnderAgeAtTimeOfExploitation}}
      </td>
      <td>
        <a href="/nrm/pv-under-age-at-time-of-exploitation/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-under-age-at-time-of-exploitation.table-data{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.pv-under-age-at-time-of-exploitation}}

    {{#values.fr-location}}
    <tr>
      <td>{{#t}}pages.confirm.fields.fr-location.label{{/t}}</td>
      <td class="no-white-space">
          {{formattedFrLocation}}
      </td>
      <td>
        <a href="/nrm/fr-location/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.fr-location.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.fr-location}}

    {{#values.local-authority-contacted-about-child-local-authority-name}}
    <tr>
      <td>{{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-name.label{{/t}}</td>
      <td class="no-white-space">
        <span>{{values.local-authority-contacted-about-child-local-authority-name}}</span>
      </td>
      <td>
        <a href="/nrm/local-authority-contacted-about-child/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-name.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.local-authority-contacted-about-child-local-authority-name}}

    {{#values.local-authority-contacted-about-child-local-authority-phone}}
    <tr>
      <td>{{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-phone.label{{/t}}</td>
      <td class="no-white-space">
        <span>{{values.local-authority-contacted-about-child-local-authority-phone}}</span>
      </td>
      <td>
        <a href="/nrm/local-authority-contacted-about-child/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-phone.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.local-authority-contacted-about-child-local-authority-phone}}

    {{#values.local-authority-contacted-about-child-local-authority-email}}
    <tr>
      <td>{{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-email.label{{/t}}</td>
      <td class="no-white-space">
        <span>{{values.local-authority-contacted-about-child-local-authority-email}}</span>
      </td>
      <td>
        <a href="/nrm/local-authority-contacted-about-child/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-email.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.local-authority-contacted-about-child-local-authority-email}}

    {{#values.local-authority-contacted-about-child-local-authority-first-name}}
    <tr>
      <td>{{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-contact.label{{/t}}</td>
      <td class="no-white-space">
        <span>{{values.local-authority-contacted-about-child-local-authority-first-name}} {{values.local-authority-contacted-about-child-local-authority-last-name}}</span>
      </td>
      <td>
        <a href="/nrm/local-authority-contacted-about-child/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.local-authority-contacted-about-child-local-authority-contact.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.local-authority-contacted-about-child-local-authority-first-name}}

    {{#values.types-of-exploitation.length}}
    <tr>
      <td>{{#t}}pages.confirm.fields.types-of-exploitation.label{{/t}}</td>
      <td class="no-white-space types-of-exploitation">
        {{#values.types-of-exploitation-forced-to-work}}
          <span>{{#t}}fields.types-of-exploitation-forced-to-work.label{{/t}}.</span>
        {{/values.types-of-exploitation-forced-to-work}}
        {{#values.types-of-exploitation-wages-taken}}
          <span>{{#t}}fields.types-of-exploitation-wages-taken.label{{/t}}.</span>
        {{/values.types-of-exploitation-wages-taken}}
        {{#values.types-of-exploitation-forced-to-commit-fraud}}
          <span>{{#t}}fields.types-of-exploitation-forced-to-commit-fraud.label{{/t}}.</span>
        {{/values.types-of-exploitation-forced-to-commit-fraud}}
        {{#values.types-of-exploitation-prostitution}}
          <span>{{#t}}fields.types-of-exploitation-prostitution.label{{/t}}.</span>
        {{/values.types-of-exploitation-prostitution}}
        {{#values.types-of-exploitation-child-exploitation}}
          <span>{{#t}}fields.types-of-exploitation-child-exploitation.label{{/t}}.</span>
        {{/values.types-of-exploitation-child-exploitation}}
        {{#values.types-of-exploitation-taken-somewhere}}
          <span>{{#t}}fields.types-of-exploitation-taken-somewhere.label{{/t}}.</span>
        {{/values.types-of-exploitation-taken-somewhere}}
        {{#values.types-of-exploitation-forced-to-commit-crime}}
          <span>{{#t}}fields.types-of-exploitation-forced-to-commit-crime.label{{/t}}.</span>
        {{/values.types-of-exploitation-forced-to-commit-crime}}
        {{#values.types-of-exploitation-organs-removed}}
          <span>{{#t}}fields.types-of-exploitation-organs-removed.label{{/t}}.</span>
        {{/values.types-of-exploitation-organs-removed}}
        {{#values.types-of-exploitation-unpaid-household-work}}
          <span>{{#t}}fields.types-of-exploitation-unpaid-household-work.label{{/t}}.</span>
        {{/values.types-of-exploitation-unpaid-household-work}}
        {{#values.other-exploitation-details}}
          <span>{{values.other-exploitation-details}}.</span>
        {{/values.other-exploitation-details}}
      </td>
      <td>
        <a href="/nrm/types-of-exploitation/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.types-of-exploitation.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.types-of-exploitation.length}}

    {{#values.where-exploitation-happened}}
    <tr>
      <td>{{#t}}pages.confirm.fields.where-exploitation-happened.label{{/t}}</td>
      <td class="no-white-space">
          {{formattedWhereExploitationHappened}}
      </td>
      <td>
        <a href="/nrm/where-exploitation-happened/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.where-exploitation-happened.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.where-exploitation-happened}}

    {{#values.where-exploitation-happened-uk-city-1}}
    <tr>
      <td>{{#t}}pages.confirm.fields.where-exploitation-happened-uk.label{{/t}}</td>
      <td class="no-white-space">
          <span>{{values.where-exploitation-happened-uk-city-1}}</span>
          <span>{{values.where-exploitation-happened-uk-city-2}}</span>
          <span>{{values.where-exploitation-happened-uk-city-3}}</span>
          <span>{{values.where-exploitation-happened-uk-city-4}}</span>
          <span>{{values.where-exploitation-happened-uk-city-5}}</span>
          <span>{{values.where-exploitation-happened-uk-city-6}}</span>
          <span>{{values.where-exploitation-happened-uk-city-7}}</span>
          <span>{{values.where-exploitation-happened-uk-city-8}}</span>
          <span>{{values.where-exploitation-happened-uk-city-9}}</span>
          <span>{{values.where-exploitation-happened-uk-city-10}}</span>
          <span>{{values.where-exploitation-happened-other-uk-other-location}}</span>
      </td>
      <td>
        <a href="/nrm/where-exploitation-happened-uk/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.where-exploitation-happened-uk.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.where-exploitation-happened-uk-city-1}}

    {{#values.where-exploitation-happened-overseas-country-1}}
    <tr>
      <td>{{#t}}pages.confirm.fields.where-exploitation-happened-overseas.label{{/t}}</td>
      <td class="no-white-space">
          <span>{{values.where-exploitation-happened-overseas-country-1}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-2}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-3}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-4}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-5}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-6}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-7}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-8}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-9}}</span>
          <span>{{values.where-exploitation-happened-overseas-country-10}}</span>
          <span>{{values.where-exploitation-happened-other-overseas-other-location}}</span>
      </td>
      <td>
        <a href="/nrm/where-exploitation-happened-overseas/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.where-exploitation-happened-overseas.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.where-exploitation-happened-overseas-country-1}}

    {{#values.current-pv-location-uk-city}}
    <tr>
      <td>{{#t}}pages.confirm.fields.current-pv-location.label{{/t}}</td>
      <td class="no-white-space">
          <span>City: {{values.current-pv-location-uk-city}}</span>
          <span>Region: {{values.current-pv-location-uk-region}}</span>
      </td>
      <td>
        <a href="/nrm/current-pv-location/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.current-pv-location.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.current-pv-location-uk-city}}

    {{#values.who-exploited-pv}}
    <tr>
      <td>{{#t}}pages.confirm.fields.who-exploited-pv.label{{/t}}</td>
      <td class="no-white-space">
          <span>{{values.who-exploited-pv}}</span>
      </td>
      <td>
        <a href="/nrm/who-exploited-pv/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.who-exploited-pv.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.who-exploited-pv}}

    {{#values.what-happened}}
    <tr>
      <td>{{#t}}pages.confirm.fields.what-happened.label{{/t}}</td>
      <td class="no-white-space">
        <span>{{values.what-happened}}</span>
      </td>
      <td>
        <a href="/nrm/what-happened/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.what-happened.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.what-happened}}

    {{#values.any-other-pvs}}
    <tr>
      <td>{{#t}}pages.confirm.fields.any-other-pvs.label{{/t}}</td>
      <td class="no-white-space">
        <span>{{formattedAnyOtherPvs}}</span>
      </td>
      <td>
        <a href="/nrm/any-other-pvs/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.any-other-pvs.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.any-other-pvs}}

    {{#values.reported-to-police}}
    <tr>
      <td>{{#t}}pages.confirm.fields.reported-to-police.label{{/t}}</td>
      <td class="no-white-space">
          <span>{{formattedReportedToPolice}}</span>
          {{#values.reported-to-police-police-forces}}
            <span>{{values.reported-to-police-police-forces}}</span>
          {{/values.reported-to-police-police-forces}}
          {{#values.reported-to-police-crime-reference}}
          <span>Reference: {{values.reported-to-police-crime-reference}}</span>
          {{/values.reported-to-police-crime-reference}}
      </td>
      <td>
        <a href="/nrm/reported-to-police/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.reported-to-police.label{{/t}}">Change</a>
      </td>
    </tr>
    {{/values.reported-to-police}}
  </tbody>
</table>
