{{#values.family}}
<h2 class="details-header">{{#t}}pages.confirm.sections.potential-victim.header{{/t}}</h2>
<table id="potential-victim" class="table-details">
  <tbody>
      {{#values.pv-want-to-submit-nrm}}
        <tr>
          <td class="wrap-table-cell">
            {{#t}}pages.confirm.fields.pv-want-to-submit-nrm.label{{/t}}
            {{#values.automatic-referral}}
              <p>{{#t}}pages.confirm.fields.pv-want-to-submit-nrm.automatic-referral{{/t}}</p>
            {{/values.automatic-referral}}</td>
          <td class="no-white-space">
            <span>{{formattedPvWnatToSubmitNrm}}</span>
          </td>
          <td>
            {{^values.automatic-referral}}
              <a href="/nrm/pv-want-to-submit-nrm/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.refuse-nrm.label{{/t}}">Change</a>
            {{/values.automatic-referral}}
          </td>
        </tr>
      {{/values.pv-want-to-submit-nrm}}

      {{^isDutyToNotifyPath}}
      {{#values.does-pv-need-support}}
        <tr>
          <td class="wrap-table-cell">
            {{#t}}pages.confirm.fields.does-pv-need-support.label{{/t}}
          <td class="no-white-space">
            <span>{{formattedDoesPvNeedSupport}}</span>
          </td>
          <td>
            <a href="/nrm/does-pv-need-support/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.refuse-nrm.label{{/t}}">Change</a>
          </td>
        </tr>
      {{/values.does-pv-need-support}}
      {{/isDutyToNotifyPath}}

      {{#isDutyToNotifyPath}}
      {{#values.refuse-nrm}}
      <tr>
        <td>{{#t}}pages.confirm.fields.refuse-nrm.label{{/t}}</td>
        <td class="no-white-space">
          <span>
              {{values.refuse-nrm}}
          </span>
        </td>
        <td>
          <a href="/nrm/refuse-nrm/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.refuse-nrm.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.refuse-nrm}}
      {{/isDutyToNotifyPath}}
      
      {{#values.pv-name-first-name}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-name.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.pv-name-first-name}} {{values.pv-name-last-name}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-name-{{#values.is-referral}}referral{{/values.is-referral}}{{^values.is-referral}}dtn{{/values.is-referral}}/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-name.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-name-first-name}}

      {{#values.pv-name-nickname}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-name-nickname.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.pv-name-nickname}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-name-{{#values.is-referral}}referral{{/values.is-referral}}{{^values.is-referral}}dtn{{/values.is-referral}}/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-name-nickname.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-name-nickname}}

      {{^isDutyToNotifyPath}}
      {{#values.pv-dob}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-dob.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.pv-dob}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-dob/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-dob.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-dob}}
      {{/isDutyToNotifyPath}}

      {{#values.pv-gender}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-gender.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{formattedPvGender}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-gender-{{#values.is-referral}}referral{{/values.is-referral}}{{^values.is-referral}}dtn{{/values.is-referral}}/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-gender.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-gender}}

      {{#values.birthplace}}
      <tr>
          <td>{{#t}}pages.confirm.fields.birthplace.label{{/t}}</td>
          <td class="no-white-space">
          <span>
            {{values.birthplace}}
          </span>
          </td>
          <td>
              <a href="/nrm/what-is-their-background/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.birthplace.label{{/t}}">Change</a>
          </td>
      </tr>
      {{/values.birthplace}}

      {{#values.family}}
      <tr>
          <td>{{#t}}pages.confirm.fields.family.label{{/t}}</td>
          <td class="no-white-space">
          <span>
            {{values.family}}
          </span>
          </td>
          <td>
              <a href="/nrm/what-is-their-background/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.family.label{{/t}}">Change</a>
          </td>
      </tr>
      {{/values.family}}

      {{#values.education}}
      <tr>
          <td>{{#t}}pages.confirm.fields.education.label{{/t}}</td>
          <td class="no-white-space">
          <span>
            {{values.education}}
          </span>
          </td>
          <td>
              <a href="/nrm/what-is-their-background/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.education.label{{/t}}">Change</a>
          </td>
      </tr>
      {{/values.education}}

      {{#values.employment-history}}
      <tr>
          <td>{{#t}}pages.confirm.fields.employment-history.label{{/t}}</td>
          <td class="no-white-space">
          <span>
            {{values.employment-history}}
          </span>
          </td>
          <td>
              <a href="/nrm/what-is-their-background/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.employment-history.label{{/t}}">Change</a>
          </td>
      </tr>
      {{/values.employment-history}}

      {{^isDutyToNotifyPath}}
      {{#values.does-pv-have-children}}
      <tr>
        <td>{{#t}}pages.confirm.fields.does-pv-have-children.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{formattedDoesPvHaveChildren}}
            {{#values.does-pv-have-children-yes-amount}}
            : {{values.does-pv-have-children-yes-amount}}
            {{/values.does-pv-have-children-yes-amount}}
          </span>
        </td>
        <td>
          <a href="/nrm/does-pv-have-children/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.does-pv-have-children.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.does-pv-have-children}}
      {{/isDutyToNotifyPath}}

      {{#values.pv-nationality}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-nationality.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{values.pv-nationality}}
            {{values.pv-nationality-second}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-nationality-{{#values.is-referral}}referral{{/values.is-referral}}{{^values.is-referral}}dtn{{/values.is-referral}}/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-nationality.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-nationality}}

      {{^isDutyToNotifyPath}}
      {{#values.pv-interpreter-requirements}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-interpreter-requirements.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{formattedPvInterpreterRequirements}}
            {{#values.pv-interpreter-requirements-language}}
            : {{#t}}pages.confirm.fields.pv-interpreter-requirements-language.label{{/t}}; {{values.pv-interpreter-requirements-language}}
            {{/values.pv-interpreter-requirements-language}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-interpreter-requirements/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-interpreter-requirements.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-interpreter-requirements}}

      {{#values.pv-other-help-with-communication}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-other-help-with-communication.label{{/t}}</td>
        <td class="no-white-space">
          <span>
            {{formattedPvOtherHelpWithCommunication}}
            {{#values.pv-other-help-with-communication-aid}}
            : {{values.pv-other-help-with-communication-aid}}
            {{/values.pv-other-help-with-communication-aid}}
          </span>
        </td>
        <td>
          <a href="/nrm/pv-other-help-with-communication/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-other-help-with-communication.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-other-help-with-communication}}
      {{/isDutyToNotifyPath}}

      {{#showContactDetails}}
      {{#values.pv-contact-details-email-check}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-contact-details-email.label{{/t}}</td>
        <td class="no-white-space">
          <span>{{values.pv-contact-details-email-input}}</span>
          <span>Safe to use</span>
        </td>
        <td>
          <a href="/nrm/pv-contact-details-{{#values.is-referral}}referral{{/values.is-referral}}{{^values.is-referral}}dtn{{/values.is-referral}}/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-contact-details-email.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-contact-details-email-check}}

      {{#values.pv-contact-details-post-check}}
      <tr>
        <td>{{#t}}pages.confirm.fields.pv-contact-details.label{{/t}}</td>
        <td class="no-white-space">
          <span>{{values.pv-contact-details-street}}</span>
          <span>{{values.pv-contact-details-town}}</span>
          <span>{{values.pv-contact-details-county}}</span>
          <span>{{values.pv-contact-details-postcode}}</span>
          <span>Safe to use</span>
        </td>
        <td>
          <a href="/nrm/pv-contact-details-{{#values.is-referral}}referral{{/values.is-referral}}{{^values.is-referral}}dtn{{/values.is-referral}}/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-contact-details.label{{/t}}">Change</a>
        </td>
      </tr>
      {{/values.pv-contact-details-post-check}}
      {{/showContactDetails}}

      {{#showPvPhoneNumber}}
      {{#values.pv-phone-number}}
        <tr>
          <td>{{#t}}pages.confirm.fields.pv-phone-number.label{{/t}}</td>
          <td class="no-white-space">
            <span>{{formattedPvPhoneNumber}}</span>
          </td>
          <td>
            <a href="/nrm/pv-phone-number/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-phone-number.label{{/t}}">Change</a>
          </td>
        </tr>
      {{/values.pv-phone-number}}
      {{#values.pv-phone-number-yes}}
        <tr>
          <td>{{#t}}pages.confirm.fields.pv-phone-number-yes.label{{/t}}</td>
          <td class="no-white-space">
            <span>{{values.pv-phone-number-yes}}</span>
          </td>
          <td>
            <a href="/nrm/pv-phone-number/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-phone-number-yes.label{{/t}}">Change</a>
          </td>
        </tr>
      {{/values.pv-phone-number-yes}}
      {{#showPvPhoneNumberNoOption}}
        <tr>
          <td>{{#t}}pages.confirm.fields.pv-phone-number-yes.label{{/t}}</td>
          <td class="no-white-space">
            <span>{{formattedPvPhoneNumber}}</span>
          </td>
          <td>
            <a href="/nrm/pv-phone-number/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-phone-number-yes.label{{/t}}">Change</a>
          </td>
        </tr>
      {{/showPvPhoneNumberNoOption}}
      {{/showPvPhoneNumber}}

      {{^isDutyToNotifyPath}}
        {{#values.pv-other-help-with-communication}}
          <tr>
            <td>{{#t}}pages.confirm.fields.pv-ho-reference.label{{/t}}</td>
            <td class="no-white-space">
              <span>
                {{#values.pv-ho-reference-type}}
                  {{values.pv-ho-reference-type}}
                {{/values.pv-ho-reference-type}}
                {{^values.pv-ho-reference-type}}
                  No information
                {{/values.pv-ho-reference-type}}
              </span>
            </td>
            <td>
              <a href="/nrm/pv-ho-reference/edit" class="button" aria-label="Change {{#t}}pages.confirm.fields.pv-ho-reference.label{{/t}}">Change</a>
            </td>
          </tr>
        {{/values.pv-other-help-with-communication}}
      {{/isDutyToNotifyPath}}
  </tbody>
</table>
{{/values.family}}
