<p class="govuk-body">Provide as much detail of their experience as you can. Do not include their name or the names of other potential victims (if any).</p>
<details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      What information to include
      </span>
        </summary>
      <p>A detailed report should have information that includes:</p>
      <ul class="bullet-list">
        <li>how the potential victim was treated</li>
        <li>what an average day was like</li>
        <li>if they could not leave, why not</li>
        <li>what their living conditions were like</li>
      </ul>
      <br/>
    <p>If they were trafficked, it helps to know:</p>
    <ul class="bullet-list">
      <li>where they were recruited</li>
      <li>details of the journeys they took</li>
      <li>who, if anyone, travelled with them</li>
      <li>who arranged the journey</li>
    </ul>
  </details>
  <br/>
