{{<layout}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$header}}
    {{#t}}pages.complete.panel-title{{/t}}
  {{/header}}

  {{$content}}
    <div class="govuk-grid-row">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {{#t}}pages.complete.panel-title{{/t}}
          </h1>
        </div>
        <p>
          <a href="/start">
            {{#t}}pages.complete.paragraph-1{{/t}}
          </a>.
        </p>
    </div>
  {{/content}}
{{/layout}}
